
img.person {
  height: 200px;
  width: auto;
}

.caption {
  min-height: 150px;
}

.editable-click {
    color: rgb(81, 237, 17);
    border-bottom: none;
}

p.editable-click {
  color: rgb(27, 22, 26);
  border-bottom: none;
}

a.editable-click:hover {
    color: #47a447;
    border-bottom-color: #47a447;
}
